.ButtonRecording {
  background-color: #fe4d01;
  border: 1px solid #fe4d01;
  border-radius: 4000px;
  color: #ffffff;
  font-weight: 600;;
  height: 6rem;
  min-width: auto;
  padding: calc(1.5rem);
  cursor: pointer;
  width: 6rem;
}
